.appContainer {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.innerContainer {
    margin-top: 20vh;
    gap: 20px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome {
    display: flex;
}

.factContainer {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    align-items: center;
    background-color: white;
    border: 2px solid #65837c;
    border-radius: 1em;
    display: flex;
    padding: .5rem 1rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    width: 400px;
    height: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-align: center;
    justify-content: space-between;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.buttonContainer{
    display: flex;
    justify-content: space-between;
}

.fact{
    width: 100%;

}


.revealButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    border: none;
    color: #444343;
    font-weight:bold;
}

.revealButton:hover{
    border-bottom: 2px solid #444343;

}
.rankingContainer{
    display: flex;
    justify-content: space-evenly;
}
.emojiButton{
    font-size: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.emojiButton .tooltiptext {
    visibility: hidden;
    width: auto;
    font-size: 14px;
    background-color: rgb(235, 235, 235);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #444343;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    opacity: 0;
    transition: opacity 1s;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .emojiButton:hover .tooltiptext {
    visibility: visible;
    opacity: 1;

  }

  .progressBarContainer {
    display: flex;
    column-gap: 3px;
    width: 400px;
    justify-content: center;
  }

  .progressBar {
    width: 100px;
    height: 10px;
    border-bottom: 5px solid #65837c;
  }